.reports-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  border: 2px solid;
  width: 350px;
  height: 360px;
  margin-bottom: 10px;
  overflow: scroll;
}
h4 {
  display: flex;
  justify-content: center;
}

.inner-report {
  display: flex;
  flex-flow: column;
  flex: auto;
}
