.container {
  display: flex;
  justify-content: center;
}
.table-body {
  background-color: cadetblue;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
  background: darkslategrey;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
